* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Pulsar {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 60px;
  position: relative;
}
.Pulsar::before, .Pulsar::after {
  content: '';
  display: block;
  position: absolute;
  border: 2px solid #1b9b4a;
  border-radius: 50%;
  top: -35px;
  bottom: -35px;
  left: -35px;
  right: -35px;
  animation: animação 1.5s linear infinite;
  cursor: pointer;
}

@keyframes animação {
  0% {
    transform:scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
